:root {
	--radius: 0.5rem;
}

* {
	padding: 0;
	margin: 0;
}

body {
	padding: 4rem 1rem;
	background-color: #fbfbfb;
}

.wrapper {
	text-align: center;
}

.header {
	text-align: center;
	margin-bottom: 2rem;
}

.header a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	border-radius: calc(var(--radius) - 0.25rem);
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.25rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: white;
	background-color: red;
	border-color: #ededed;
}

.header a:hover {
	background-color: rgba(255, 0, 0, 0.803);
}

.parking-lot {
	width: fit-content;
	margin: auto;
}

.top-container {
	display: flex;
	justify-content: space-between;
	width: --webkit-fill-available;
	margin-bottom: 5rem;
}

.top-container .right-parking,
.top-container .left-parking {
	display: flex;
}

.top-container .entrance {
	height: 4rem;
	min-width: 10rem;
	background-color: rgba(85, 85, 85, 0.5);
	border-radius: var(--radius);
	border: 1px solid #ededed;
}

.bottom-container {
	display: flex;
}

.parking-slot {
	border-radius: var(--radius);
	border: 1px solid #ededed;
	padding: 1.5rem 1rem;
	text-align: center;
	font-size: 0.875rem;
	cursor: pointer;
}
