:root {
	--radius: 0.5rem;
}

* {
	padding: 0px;
	margin: 0px;
	/* border: lime 1px dashed; */
}

body {
	padding: 4rem 1rem;
	background: #fafafa;
}

.top-container {
	display: flex;
	align-items: center;
	gap: 1rem;

	.entrance {
		height: 70px;
		width: auto;
		min-width: 10rem;
		background-color: #55555580;
		border-radius: var(--radius);
		border: 1px solid #ededed;
	}
	.right-parking {
		gap: 0.5rem;
	}
	div {
		display: flex;
		gap: 1rem;

		button {
			border-radius: var(--radius);
			border: 1px solid #ededed;
			background-color: white;
			padding: 25px 15px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 0.875rem;
			cursor: pointer;
			/* position: relative; */
		}
	}
}

button::after {
	background-color: red;
}

button:hover {
	background-color: green;
}

/* .RP {
	position: absolute;
	top: 35px;
	right: 17%;
}

.CP {
	margin-top: 100px;
} */

h1 {
	text-align: center;
}

h2 {
	float: right;
}

h3 {
	font-size: 23px;
}
