:root {
	--radius: 0.5rem;
}

* {
	padding: 0;
	margin: 0;
}

body {
	padding: 4rem 1rem;
	background-color: #fbfbfb;
}

.top-container {
	margin-bottom: 20%;
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.top-container .entrance {
	height: 4rem;
	min-width: 10rem;
	background-color: rgba(85, 85, 85, 0.5);
	border-radius: var(--radius);
	border: 1px solid #ededed;
}

.top-container .right-parking {
	gap: 0.5rem;
}

.top-container div,
.bottom-container {
	display: flex;
	gap: 1rem;
}

.top-container div button,
.bottom-container button {
	border-radius: var(--radius);
	border: 1px solid #ededed;
	background-color: white;
	padding: 1.5rem 1rem;
	text-align: center;
	font-size: 0.875rem;
	cursor: pointer;
}

.top-container div button,
.bottom-container button:hover{
    background: greenyellow;
}